<div class="modal-container" id="welcome-modal">
    <div class="modal">
        <div class="image-wrapper">
            <picture>
                <source media="(min-width: 1440px)" srcset="https://c4.wallpaperflare.com/wallpaper/11/624/62/simple-desk-clocks-books-wallpaper-preview.jpg">
                <source media="(min-width: 768px)" srcset="https://c4.wallpaperflare.com/wallpaper/11/624/62/simple-desk-clocks-books-wallpaper-preview.jpg">
                <img src="https://c4.wallpaperflare.com/wallpaper/11/624/62/simple-desk-clocks-books-wallpaper-preview.jpg" alt="" style="width: 100%;">
            </picture>
        </div>
        <div class="text-wrapper">
            <h1>MODAL TOTALMENTE DE TESTE</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac metus id quam vestibulum sodales. Nam vulputate bibendum dolor, sed finibus tellus venenatis at. Ut ac libero quis risus condimentum sagittis vel vel magna. Cras eu elementum augue. Cras convallis tellus diam, ut vulputate arcu ultricies non. Quisque at sapien eu velit porta eleifend. Phasellus vel auctor lacus. Suspendisse nec porttitor risus. Vivamus vitae placerat enim. Nam tempor, neque sit amet ultrices elementum, mi sem sagittis lorem, quis condimentum metus eros id sapien.
            </p>
            <button>INSCREVA-SE</button>
            <div class="modal-close">
                <div class="icon-cancel"></div>
            </div>
        </div>
    </div>
</div>